@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Gramatika";
	src: url("/fonts/Gramatika-Regular.woff2") format("woff2");
	font-weight: 400;
  font-display: swap;
	font-feature-settings: "ss02", "ss03", "ss04", "ss06";
}
@font-face {
	font-family: "Gramatika";
	src: url("/fonts/Gramatika-Medium.woff2") format("woff2");
	font-weight: 500;
  font-display: swap;
	font-feature-settings: "ss02", "ss03", "ss04", "ss06";
}
@font-face {
  font-family: "Gramatika";
	src: url("/fonts/Gramatika-Bold.woff2") format("woff2");
	font-weight: 700;
  font-display: swap;
	font-feature-settings: "ss02", "ss03", "ss04", "ss06";
}
@font-face {
	font-family: "Heebo";
  src: url("/fonts/Heebo-Medium.woff2") format("woff2");
  font-weight: normal;
  unicode-range: U+0590-05FF, U+0030-0039;
  font-display: swap;
}

@font-face {
	font-family: "Diode Global New";
	src: url("/fonts/DiodeGlobalNewVF.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Seoul Grotesk";
	src: url("/fonts/SeoulGrotesqueVF.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	font-feature-settings: "ss03";
}


:is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, hr, table, dl) + :is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, hr, table, dl) {
  @apply mt-2;
}

.prose p:has(img) {
  @apply my-20;
}